html {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
  }
  *, *:before, *:after {
    box-sizing: inherit;
    text-align: center;
}


/* .navigation {
    fill: #124d81;
} */

.navbar fixed-top navbar-expand-lg {
    background-color: #124d81;
    /* border-color: #E7E7E7; */
}


.intro {
    margin-top: 40px;
    font-size: 35px;
}


.clearfix {
    overflow: auto;
}


.textbox {
    font-size: 35px;
    width: 80%;
    color: white;
    background-color: #124d81;
    border: 2px solid black;
    float: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
    margin-bottom: 0px;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.textbox1 {
    font-size: 35px;
    width: 80%;
    color: white;
    background-color: #124d81;
    border: 2px solid black;
    float: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 65px;
    margin-bottom: 0px;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}


.parent {
    width: 80%;
    color: white;
    background-color: #337ab7;
    border: 2px solid black;
    float: left;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2.5px;
    margin-bottom: 25px;
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
  
.child {
    color: black;
    background-color: white;
    width: 98%;
    padding: 20%;
    border: 2px solid black;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: inherit;
}

.placeholder {
    padding: 0%;
    margin: 0%;
    font-size: 25px;
}

.sectionTitle {
    margin: 0;
    position: inherit;
    top: 50%;
    font-size: 3vw;
}
  

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1em;
}


  
p:not(.intro) {
    text-align: center;
}